
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
.fp-controlArrow.fp-next{
	right: 50px;
}
body.fp-responsive .fp-controlArrow.fp-next{
	right: 20px;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: whitesmoke;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
	color: white
}
h2{
	font-size: 4.8em;
}
h3{
	font-size: 3em;
}
h4{
	font-size: 1.8em;
}
h5{
	font-size: 1.5em;
}
h6{
	font-size: 1.4em;
	font-weight: bold;
}
p{
	font-size: 1.9em;
}
.section{
	text-align:center;
}
#logo{
	position:fixed;
	top:10px;
	left:20px;
	color:white;
	font-weight:700;
	z-index:99;
	font-size:1.9em;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased
}
#menu-line{
	position:absolute;
	bottom:-4px;
	left:0;
	width:159px;
	height:2px;
	background:#fff
}
#menu li{
	display:inline-block;
	margin:10px 0;
	position:relative;
}
#menu a{
	color:#fff;
	margin:0 0.4em 1.1em 0.4em
}
#menu li.active a:after{
	content:'';
	margin:0 0.4em 0 0.4em;
	height:2px;
	background:#fff;
	display:block;
	position:absolute;
	bottom:-6px;
	left:0;
	right:0;
	display:block
}
#menu{
	position:fixed;
	top:10px;
	right:0px;
	color:#fff;
	z-index:99;
	font-size:1.1em;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased
}
#section0{
	background: rgba(255, 175, 1, 1);
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../images/landing_photo.jpg);
}
#section0 h2, #section0 h5{
	position:relative;
	color:white;
	text-shadow: 2px 2px 10px black;
	margin-left:50px;
	margin-right:50px;
	transform: translateY(200px);
}

#section3{
	background-size: cover;
	background-attachment: relative;
	background-image: url(../images/about_photo.jpg);
	opacity: 1;
}
#section3 h1, #section3 h4{
	position:relative;
	color:white;
}
#section3 .col-lg-9{
	border-top-left-radius:5px;
}
#section3 h2, #section3 h5, #section3 a{
	position:relative;
	color:white;
	text-shadow: 0px 5px 10px black;
}
#section1{
	background-size: cover;
	background-attachment: fixed;
	background-image: linear-gradient(to bottom right,#569ba6,#56a679);
	opacity: 1;	
}
#section1 .col-xl-3{
	background-color:transparent;
	padding: 10px;
	border-radius: 3px;
}
#section1 h2{
	color:white;
}
#section1 li{
	font-size: 1.2em
}
#section1 h4, #section1 h6{
	color:white;
	padding:10px;
}
.flip-card{
	background-color: transparent;
	width: 100%;
	height: 225px;
	perspective: 1000px;
}
.flip-card-contents{
	position: relative;
	width: 100%;
	height:100%;
	text-align: center;
	transition: transform 0.95s;
	transform-style: preserve-3d;
}
.flip-card:hover .flip-card-contents{
	transform: rotateY(180deg);
}
.card-front, .card-back{
	position: absolute;
	width:100%;
	height:100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	padding: 15px;
	border-radius: 5px;
}
.card-front{
	background-color:transparent;
	color:white;
	padding-left: 2px;
	padding-right: 2px;
	border:white 2px solid;
}
.card-back{
	background-image:linear-gradient(to top left, #808080,#8599ad);
	color:white;
	border:white 2px solid;
	padding-right: 4px;
	transform: rotateY(180deg);
}
#section2 h2{
	color:white;
	padding-bottom:3%;
}
#section2 h6{
	color:white;
	padding-top:3%;
	padding-bottom:3%;
	text-align: left;
}
#section2{
	background-size: cover;
	background-attachment: fixed;
	background-image:linear-gradient(to top left, #808080,#8599ad);
	opacity: 1;	
}
#section2 h1{
	padding: 1%
}
#section2 .slide p{
	color:white;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size:1.4em;
}
#section2 #slide1 #project-image{
	background-size: cover;
	background-position:center;
	background-attachment: relative;
	background-image: url(../images/fer-webcam-sample.png);
	height: 400px;
}
#section2 #slide2 #project-image{
	background-size: cover;
	background-position:center;
	background-attachment: relative;
	background-image: url(../images/citibike-tableau-sample.png);
	height:400px;
}

#section2 #slide3 #project-image{
	background-size: cover;
	background-position:center;
	background-attachment: relative;
	background-image: url(../images/ml-kepler-training-sample.png);
	height:400px;
}
#section2 #slide4 #project-image{
	background-size: cover;
	background-position:center;
	background-attachment: relative;
	background-image: url(../images/plotly-dashboard-sample.png);
	height:400px;
}
#section2 #slide5 #project-image{
	background-size: cover;
	background-position:center;
	background-attachment: relative;
	background-image: url(../images/shark-api-sample.png);
	height:400px;
}
#contact li{
	display:inline-block;
	position:relative;
	font-size:3em;
}
#contact svg{
	color:white;
}
#contact a, #contact a:after{
	color:white;
	margin: 1em
}
#about-footer{
	margin-top:6em;
	margin-bottom:6em;
}
.btn-flipcard, .btn-flipcard:hover{
	margin-top:3%;
	color:white;
	background-color:#787778;
	border-radius:5px;
}
.btn-project, .btn-project:hover{
	margin:2%;
	color:white;
	background-color:#cf6d0c;
	width:40%;
	font-size:1.5em;
	border-radius:5px;
}

 #fp-nav ul li a span{
	background:White;
}
.fp-slidesNav ul li a span{
	background:white;
}

body.fp-responsive .additional-content{
	display: none;
}

body.fp-responsive #section2 h2{
	font-size: 1.5em;
}
body.fp-responsive #section2 p, body.fp-responsive h6{
	font-size: 1.2em;
}
 body.fp-responsive .btn-project, body.fp-responsive .btn-project:hover{
	margin:2%;
	color:white;
	background-color:#cf6d0c;
	width:100%;
	font-size:1.2em;
	border-radius:5px;
}
body.fp-responsive #menu{
	background-color:whitesmoke;
	width:100%;
	top:0px;
}
body.fp-responsive #menu a{
	color:black;
}
body.fp-responsive #menu-line, body.fp-responsive #menu li.active a:after{
	background: black;
}
